
.dashboard{
    margin-top: 20px;
}
.dashboard ul {
    list-style-type: none;
  }

.dashboard ul li {
    
     width: 50px;
    height: 40px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
  
}



.dashboard .rs-icon{
margin-top: 6px !important;
}

.HouseDashbutton{

  margin-left:80% !important;
  width: 160px;
  background:#57B8B8;
  color: #ffffff;
}

.OuterDivDash{
  padding: 10px;
  border: 1px solid #A8A8A8;
  width: 225px;
  height: 142px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
  color:rgba(0, 140, 255, 0.89);
}

.selectAcamp{
 
margin-top: -20px !important;

}

.DigitalReport
{
  cursor: pointer;
}