.welcomeMessage
{
    padding: 0px 50px 0px 50px;
    background: #fff;
}
.headernavafterlogin {
    padding-bottom : 20px !important;
}
.OuterDivCreateStation{
    padding: 10px;
    border: 1px solid #A8A8A8;
    width: 190px;
    height: 172px;
    
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}




.CreateStationbutton{
     background:#57B8B8;
     width:150px;
     
     margin-top: 15px !important;
     color: #ffffff;
     border-radius: 5px;
     
    
}

.vl {
    border: 1px solid rgb(212, 208, 208);
    margin-right: 50px;
    height:60px;
  }

  .center{
    margin-top:20px;
   
  }

  
  .buttonn{
    background: rgb(175, 171, 171);
    width: 160px;
     margin-top: 5px;
     color: #ffffff;
  }

  .buttonnn{
    background:#57B8B8;
     width:160px;
     margin-right: 120px;
     margin-top: 5px !important;
     color: #ffffff;
 
}
 
.DigitalReport
{
  cursor: pointer;
  
}
  

@media screen and (max-width: 600px) {
  .DeckImages{
    margin: 5px !important;
  
  }
  .OuterDivCreateStation
  {
    width: 100% !important;
  }
  .imgsrc{
    width: 100% !important;
  }
  .CreateStationbutton
  {
    width: 100%;
  }

  .HeaderParagraph
{
  line-height: 20px !important;
  margin-bottom: 10px;
}


.buttonnn{
  
   margin-right: 0px;
  

}

}


.DeckImages{
  margin: 15px;
}

.HeaderParagraph
{
  line-height: 30px;
}