.SideNavPanel
{
  font-weight: bold;
}

.AccInfoEdit input{
  border-radius: 0%;
  border-top: 0px solid;
  border-right: 0px solid;
  border-bottom: 1px solid;
  border-left: 0px solid;
  height: 30px;
  width: 260px;
  outline: none;

}


.statePicker a{
  border-radius: 0% !important;
  border-top: 0px solid !important;
  border-right: 0px solid !important;
  border-bottom: 1px solid !important;
  border-left: 0px solid !important;
  outline: none !important;

}


.AccUpdateButton{
  background:#57B8B8;
  width:150px;
  margin-right: 83%;
  margin-top: 15px !important;
  color: #ffffff;
  border-radius: 5px;
}

@media screen and (max-width: 720px) {
  .AccUpdateButton {
    margin-right: -10%;}

}